<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Home</title>
  </head>
  <body>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, earum!
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
      omnis! Cupiditate nulla fuga fugiat mollitia voluptatibus, voluptate
      laboriosam error atque.
    </p>
  </body>
</html>
